.navbar.navbar-inverse
  .navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
      .nav-collapse.collapse
        %ul.nav.navbar
          %li#properties
            = link_to('HOME', )
          %li#neighborhoods
            = link_to('ABOUT', )
          %li#about_us
            = link_to('WORK', )
          %li#contact_us
            = link_to('CONTACT', )